
  <div class="main_layout">
    <div class="block first edit">
      <div class="top"></div>
      <div class="med">
        <div class="left">
          <h2 class="museo_sans"><%= @site.name %>: Edit <%= @page.title %></h2>
          <%= render :partial => 'form' %>
        </div>
        <div class="right menu">
          <%= render 'admin/sites/sidebar' %>
        </div>
      </div>
      <div class="bottom"></div>
    </div>
  </div>