<% unless @projects.empty? %>
  <ul>
  <% @projects.each_with_index do |project,index| %>
    <li class="<%= (index%2==0) ? 'even' : 'odd' %>">
      <div class="project_name">
        <h3><%= link_to(truncate(project.name, :length=>65), project_path(project)) %></h3>
        <p>
          <%#= subtitle(project, @site) %>
        </p>
      </div>
      <div class="project_places">
        <p>
        <% if @site.world_wide_context? %>
          <% unless project.countries.blank? %>
            <%= project.countries.first(3).map(&:name).to_sentence(:last_word_connector => ' and ') %>
          <% end %>
        <% else %>
          <% unless project.regions.blank? %>
            <%= project.regions.first(3).map(&:name).to_sentence(:last_word_connector => ' and ') %>
          <% end %>
        <% end %>
        </p>
      </div>
    </li>
  <% end %>
  </ul>
<% else %>
  <ul>
    <li class="even">
      <p class="no_results">No projects were found for this office</p>
    </li>
  </ul>
<% end %>
