body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   12px;
  line-height: 18px;
}

h1 {
  margin: 20px 0;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.pagination {
  border-bottom: 1px solid #F5F5F5;
  border-top: 1px solid #F5F5F5;
  margin: 1.5em auto 0em auto;
  padding: 1em;
  text-align: center;
}

.pagination a {
  color: #333;
  margin: 2px;
  padding: 2px 3px;
  text-decoration: none;
}

.pagination a:hover,
.pagination a:active {
  background: #000;
  color: #FFF;
}

.pagination span.current {
  background-color: #408BB6;
  color: #FFF;
  font-weight: bold;
  margin: 2px;
  padding: 2px 3px;
}

.pagination em {
  background-color: #ccc;
  padding: 2px 2px;
}

.pagination span.disabled {
  color: #DDD;
  margin: 2px;
  padding: 2px 3px;
}

ul.main_menu {
  margin: 0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

ul.main_menu li {
  padding: 0.2em;
  line-height: 1.6em;
  display: inline;
  font-weight: bold;
}

ul.main_menu li a {
  font-weight: normal;
}

table tr td,
table tr th {
  padding: 2px 10px;
  text-align: left;
  height: 30px;
}
table tr th {
  background: black;
  color: white;
}
table tr.even {
  background: #eee;
}
#header { position: relative; height: 60px; margin-bottom: 30px;}
#header h1 { font-size: 3em; }
#header #user_nav { position: absolute; top: 22px; right: 0px; font-weight:bold; }
#header #user_nav a { font-weight: normal;}
#logo { top: 14px; left: -5px; margin: 0; position: absolute;}
#container { width: 1024px; margin: 0 auto 6em auto;}


.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}


div.main {
  width: 960px;
  float: left;
}

div.sidebar {
  overflow: hidden;
  height: 1%;
}

div.sidebar div.down {
  margin-top: 100px;
}