<html>
  <head>
    <style type="text/css">
      body {
        font-family: Arial;
        font-size: 15px;
        color: #666666;
        width: 800px;
        padding: 20px;
      }

      #content {
        padding-bottom: 15px;
        border-bottom: 1px solid #cad0da;
      }

      h1 {
        font-size: 27px;
        color: black;
        margin-bottom: 5px;
      }

      a {
        color: #E93E3F;
        text-decoration: none;
      }

      h3 {
        display: inline;
        font-size: 17px;
      }

      table {
        margin: 0;
        padding: 0;
        list-style: none;
        border-bottom: 1px solid #e5e5e5;
      }

      table tr td {
        margin: 0;
        padding: 16px 0;
        border-top: 1px solid #e5e5e5;
      }

      table tr td div {
        padding: 0 0 0;
      }

      table tr td a {
        font-size: 17px;
      }

      table tr td span {
        display: block;
        padding-top: 13px;
        font-size: 13px;
        color: #B8B8B8;
        line-height: 0;
      }

      table tr td span strong {
        color: #666666;
      }

      #footer {
        font-size: 13px;
        text-align: right;
      }

    </style>
  </head>
  <body>
    <div id="content">
      <h1>Change your NGO Aid Map password</h1>

      <p>Hello,</p>

      <p>We've received a request to reset your NGO Aid Map management password. If you want to continue, click the link below:</p>

      <p><%= link_to edit_passwords_url(:id => @reset_token), edit_passwords_url(:id => @reset_token) %></p>

      <p>If you don't want to reset your password, just ignore this message.</p>

      <p>Best,<br />
      <strong>The Mapping Team</strong></p>

    </div>
    <p id="footer">
      <a href="http://www.ngoaidmap.org/admin">http://www.ngoaidmap.org/admin</a>
    </p>
  </body>
</html>

