<html>
  <head>
    <style type="text/css">
      body {
        font-family: Arial;
        font-size: 15px;
        color: #666666;
        width: 800px;
        padding: 20px;
      }

      #content {
        padding-bottom: 15px;
        border-bottom: 1px solid #cad0da;
      }

      h1 {
        font-size: 27px;
        color: black;
        margin-bottom: 5px;
      }

      a {
        color: #E93E3F;
        text-decoration: none;
      }

      h3 {
        display: inline;
        font-size: 17px;
      }

      table {
        margin: 0;
        padding: 0;
        list-style: none;
        border-bottom: 1px solid #e5e5e5;
      }

      table tr td {
        margin: 0;
        padding: 16px 0;
        border-top: 1px solid #e5e5e5;
      }

      table tr td div {
        padding: 0 0 0;
      }

      table tr td a {
        font-size: 17px;
      }

      table tr td span {
        display: block;
        padding-top: 13px;
        font-size: 13px;
        color: #B8B8B8;
        line-height: 0;
      }

      table tr td span strong {
        color: #666666;
      }

      #footer {
        font-size: 13px;
        text-align: right;
      }

    </style>
  </head>
  <body>
    <div id="content">
      <h1>NGO Aid Map - We Miss You!</h1>

      <p>We've noticed that you haven't logged into your NGO Aid Map account in a while. We know how busy your schedule can be and that to-do list never seems to get shorter. When it does, and you have a bit of free time, we encourage you to check out your organization's data to make sure it's up-to-date.</p>

      <p>Just so you know, whenever you update your information, we will promote the amazing work of your organization through Twitter, FB, and other communication avenues.</p>

      <p>If you don't remember your log-in information, go to <%= link_to 'http://ngoaidmap.org/admin', 'http://ngoaidmap.org/admin' %> and click on "Forgot Password" to reset it. You can also contact us at mappinginfo@interaction.org and we will reset it for you.</p>
      <p>Thanks again and we hope to see you back online soon!</p>

      <p>Best,<br />
        <strong>The Mapping Team</strong>
      </p>
    </div>
    <p id="footer">
      <a href="http://www.ngoaidmap.org/admin">http://www.ngoaidmap.org/admin</a>
    </p>
  </body>
</html>

