.galleria-container{position:relative;overflow:hidden; width:927px; height:524px;}
.galleria-stage{position:absolute;top:0px;bottom:0px;left:0px;right:0px;overflow:hidden;width:927px; height:524px;}
.galleria-counter{position:absolute;top:29px;left:33px;text-align:right;color:#fff;font:normal 11px/1 arial,sans-serif;z-index:2;}
.galleria-loader{background:#000;width:32px;height:32px;position:absolute;top:260px;left:463px;z-index:2;display:inline;background:url('/images/sites/galleria/loading_white.gif') no-repeat 2px 2px;}
.galleria-info{background:url('/images/sites/home/gallery_info.png') no-repeat 0 0;height:117px;width:897px;padding:15px!important;z-index:89;z-index:2;position:absolute; bottom:0px; left:0px;}
.galleria-info-text{display:none; margin:0px 7px; width:640px!important;}
.galleria-info-title{font:normal 24px "PT Sans Bold"; color:white; margin:0;text-decoration:none; text-transform:uppercase;}
.galleria-info-shortdescription {font:normal 18px "PT Sans Bold"; color:#D15F50; margin:4px 0 0 0;}
.galleria-info-description {font:normal 15px "Arial"; color:white; margin:9px 0 0;}
.galleria-info-explore {background:url('/images/sites/home/start_exploring_bttn.png') no-repeat 0 0; width:200px; height:50px; position:absolute; bottom:29px; right:29px; }
.galleria-info-explore:hover {background-position:0 -50px; cursor:pointer;}
.galleria-info-title+.galleria-info-description{margin-top:7px;}
.galleria-info-close{width:9px;height:9px;position:absolute;top:5px;right:5px;background-position:-753px -11px;opacity:.5;filter:alpha(opacity=50);cursor:pointer;display:none;}
.galleria-info-close:hover{opacity:1;filter:alpha(opacity=100);}
.galleria-info-link{background-position:-669px -5px;opacity:.7;filter:alpha(opacity=70);position:absolute;width:20px;height:20px;cursor:pointer;background-color:#000;}
.galleria-info-link:hover{opacity:1;filter:alpha(opacity=100);}

.galleria-image-nav{position:absolute;top:40%;width:100%;height:67px;left:0; display:none;}
.galleria-image-nav-left,
.galleria-image-nav-right{cursor:pointer;width:67px;height:67px;position:absolute;left:21px;z-index:2;background-position:0 46px;}
.galleria-image-nav-right{left:auto;right:21px;z-index:2;}
.galleria-image-nav-left:hover,
.galleria-image-nav-right:hover{opacity:1;filter:alpha(opacity=100);background-position:0 -67px;}
.galleria-thumb-nav-left,
.galleria-thumb-nav-right{cursor:pointer;display:none;position:absolute;left:0;top:0;height:61px;width:69px;z-index:3;opacity:.8;filter:alpha(opacity=80);}
.galleria-thumb-nav-right{border-right:none;right:0;left:auto;}
.galleria-thumbnails-container .disabled{/* opacity:.2;filter:alpha(opacity=20);cursor:default;*/}
.galleria-thumb-nav-left:hover,
.galleria-thumb-nav-right:hover{opacity:1;filter:alpha(opacity=100);}
.galleria-thumbnails-container .disabled:hover{opacity:0.2;filter:alpha(opacity=20);background-color:transparent;}
.galleria-carousel .galleria-thumb-nav-left,
.galleria-carousel .galleria-thumb-nav-right{display:block;}
.galleria-thumb-nav-left,
.galleria-thumb-nav-right,
.galleria-info-link,
.galleria-info-close,
.galleria-image-nav-left{background:url('/images/sites/home/left_nav.png') no-repeat 0 0;}
.galleria-image-nav-right{background:url('/images/sites/home/right_nav.png') no-repeat 0 0;background-repeat:no-repeat;}
/*VIDEO*/
div.galleria_video{position:absolute;left:50%;top:50%;margin:-45px 0 0 -45px;width:90px;height:90px;z-index:89;display:none;}
div.galleria_video a{float:left;width:90px;height:90px;background:url('/images/common/play.png') no-repeat 0 0;}
div.galleria_video a:hover{background-position:0 -90px;cursor:pointer;}

