body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,form,fieldset,p{margin:0; padding:0; font-weight:normal;}
img,fieldset{border:none; padding:0; margin:0;}
ul,li {list-style:none;}
body{font:13px Arial, Helvetica,serif; color:#666666; background-color:#EEEEEE; background:url('/images/sites/common/bkg_body_repeatxy.jpg');}
span.clear{clear:both;}
div.left{float:left; width:auto;}
div.right{float:right; width:auto;}
a{text-decoration:none;}
ul:focus {outline:none;}
input:focus{outline:none}

/*FERDEV DICE NO A LOS FLOATS, floats no gracias, hay que dejarlos en paz! by xavijam*/

div#outer_layout{margin:0 auto; width:100%; }
div#layout {width:932px; margin:0 auto;}



/*SEARCH*/
div.left {width:670px; margin:65px 0 0 0; padding:0 0 5px; background:url('/images/sites/common/mesh.png') repeat 0 0; display:inline-block; vertical-align:top; display:-moz-inline-stack; zoom:1; *display:inline;}
div.left div.outer_head {width:660px; padding:5px 5px 0 5px;}
div.left div.outer_head div.head {width:596px; height:108px; padding:32px 32px 0 32px; background:url('/images/sites/search/head_mask.png') no-repeat 0 0 #C45A4B;} /*Delete color when themes will be ready*/
div.left div.outer_head div.head h1 {width:100%; font:bold 25px "PT Sans"; color:white; text-shadow:0 1px #A44B42;}
div.left div.outer_head div.head input[type="text"] {width:467px; padding:10px; margin:10px 0 0 0; background:url('/images/sites/search/textinput_bkg.png') no-repeat 0 0; font:normal 17px Arial; color:#333333; border:none; display:inline-block; vertical-align:top; display:-moz-inline-stack; zoom:1; *display:inline;}
div.left div.outer_head div.head input[type="submit"] {width:101px; height:38px; margin:10px 0 0 0; background:url('/images/sites/search/submit_bkg.png') no-repeat 0 0; border:none; text-indent:-9999px; font-size:0; line-height:0; display:inline-block; vertical-align:top; display:-moz-inline-stack; zoom:1; *display:inline;}
div.left div.outer_head div.head input[type="submit"]:hover {background-position:0 -38px; cursor:pointer;}
div.left div.results_list {width:660px; margin:0 5px 0 5px; background:white;}
div.left div.results_list h3 {margin:0; padding:30px 0 30px 32px; font:bold 13px "PT Sans"; color:#666666; text-transform:uppercase;}
div.left div.results_list h3 a {color:#666666; padding:0 8px 0 0; background:url('/images/sites/icons/remove.png') no-repeat right 0; border-bottom:1px dotted #C45A4B;} /*Delete color when themes will be ready*/
div.left div.results_list h3 a:hover {border-bottom:1px solid #C45A4B;}
div.left div.results_list ul {background:white;}
div.left div.results_list ul li {width:100%; height:100px;}
div.left div.results_list ul li.odd /*impar*/ {background:white;}
div.left div.results_list ul li.even /*par*/ {background:#F5F5F5;}



/*<div class="left">
  <div class="outer_head">
    <div class="head">
      <h1>Search projects</h1>
      <%= form_tag(search_path, :method => :get) do %>
        <%= text_field_tag :q, params[:q] %>
        <%= submit_tag 'Search' %>
      <% end %>
    </div>
  </div>
  <div class="results_list">
    <h3><p>Results for '<%= params[:q] %>'
      <% if @cluster %>
      in <%= @site.word_for_clusters %> <%= @cluster.name %>
      <% end %>
      <% if @region %>
      in region <%= @region.name %>
      <% end %>
    </p></h3>
    <% if @projects && @projects.any? %>
      <ul>
        <% @projects.each do |project| %>
          <li>
            <div class="project">
              <h3><%= link_to(project.name, project_path(project)) %></h3>
              by <%= link_to(project.primary_organization.name, organization_path(project.primary_organization)) %>
            </div>
          </li>
        <% end %>
      </ul>
      <%= will_paginate(@projects) %>
    <% else %>
      <% unless params[:q].blank? %>
        <p class="no_results">No projects were found for '<%= params[:q] %>'</p>
      <% end %>
    <% end %>
  </div>
</div>

*/

div.right {width:240px; margin:225px 0 0 0; padding:0; display:inline-block; vertical-align:top; display:-moz-inline-stack; zoom:1; *display:inline;}
div.right div.filter_block {width:100%; margin:23px 0 0 0;}
div.right div.filter_block h2 {width:100%; font:bold 13px "PT Sans"; color:#999999; text-shadow:0 1px white; text-transform:uppercase;}
div.right div.filter_block ul {width:100%; margin:7px 0 0 0; padding:0 0 6px; list-style:none;}
div.right div.filter_block ul li {padding:3px 0 3px 10px; background:url('/images/sites/icons/list_disc.png') no-repeat 0 10px; font:normal 13px Arial; color:#999999;}
div.right div.filter_block ul li a {text-decoration:none;}
div.right div.filter_block ul li a:hover {text-decoration:underline;}
div.right div.filter_block ul li.selected {background:none;}
div.right div.filter_block ul li.selected a {color:#666666;}
div.right div.filter_block ul li.selected a:hover {text-decoration:none; color:#666666;}
div.right div.filter_block a.more {position:relative; margin:0 0 0 10px; padding:0 12px 0 0; background:url('/images/sites/icons/down_garnet.png') no-repeat right 6px;} 
div.right div.filter_block a.more:hover {text-decoration:underline;}




