<!-- FOOTERS -->
<div id="footer_pages" class="no_superfooter">
  <div class="inner_footer">
    <div class="left">
      <div class="project">
        <p class="site_name"><%= link_to @site.name, url(@site) %> is a sub-site of <%= link_to 'NGO Aid Map', "http://#{Settings.main_site_host}" %></p>
        <p class="all_rights">© <a class="link interaction" href="http://www.interaction.org/">InterAction</a> 2013. <!-- Sponsored by <a class="link fedex" href="">FedEx</a>.--> Developed by <a class="link" href="http://www.vizzuality.com/">Vizzuality</a></p>
      </div>
    </div>
	<a href="http://www.interaction.org/" class="logo"></a>
	<a href="http://www.ngoaidmap.org/" class="logo_ngoaidmap"></a>
  </div>
</div>



