a {color:#008BB0;}

div.main_head div.left h1 {text-shadow:0 1px #003F4F;}
div.main_head div.left p {color:#003F4F;}
div.main_head div.float_head {background:url('/images/sites/search/head_mask.png') repeat 0 0 #008BB0!important;}
div.main_head div.float_head h2 {color:#003F4F!important; text-shadow:none;}
div#left_column div.float_left div.head h2 {color:white; text-shadow:0 1px #003F4F;}
div#left_column div.float_left div.head {background:url('/images/sites/search/head_mask.png') repeat 0 0 #008BB0;}
div#left_column div.float_left div.block a {color:#008BB0;}
div#left_column div.float_left div.block ul.clusters li a {color:#008BB0;}
div#left_column div.right ul li h4 a {color:#008BB0;}
div#left_column div.right ul li p.info a {color:#008BB0}
div#left_column div.right h3 ul.download li a {color: #008BB0;}

div#pages div.left div.outer_head div.head {border-bottom:1px solid #003F4F; background:url('/images/sites/search/head_mask.png') repeat 0 0 #008BB0!important;}
div#pages div.left div.outer_head div.head h1 {text-shadow:0 1px #003F4F;}
div#pages div.left div.outer_head div.head p {color:#003F4F;}
div#pages div.left div.outer_head div.head a {color:#003F4F; text-decoration: underline;}
div#pages div.left div.body p a, div#pages div.left div.body ul li a {color:#008BB0; text-decoration:none;}
div#pages div.left div.results_list ul li div.project_name h3 a {color:#008BB0;}
div#pages div.right div.block p a {color:#008BB0;}
div#pages div.right div.block ul li a {color:#008BB0;}

div#project div.left div.block div.logo a {color:#008BB0!important;}
div#project div.float_right div.head {background:url('/images/sites/search/head_mask.png') repeat 0 0 #008BB0;}
div#project div.float_right div.head h1 {text-shadow:0 1px #008BB0;}
div#project div.float_right div.head p {color:#008BB0;}
div#project div.float_right div.head p a {color:#008BB0;}
div#project div.float_right div.head p a:hover {color:#003F4F;}
div#project div.float_right div.block ul li div.info h4 a {color:#008BB0;}
div#project div.left div.block ul li a {color:#008BB0;}
div#project div.left div.block p a {color:#008BB0;}
ul.breadcrumb li a {color:#003F4F!important}


div.main_head div.float_head.home h3 {color:#003F4F;}
div.main_head div.float_head.home sup.beta {color:#003F4F;}
div.main_head.projects div.float_head p a {color:#003F4F; text-decoration:underline;}
div.projects div.right div.block p a {color:#008BB0;}
div.projects div.right div.block ul li a {color:#008BB0;}
div.projects div.right div.block div.logo a {color:#008BB0;}
div.projects div.right div.block div.logo a.long {color:#008BB0;}
div.projects div.float_left div.block ul.related_projects li div.info h4 a {color:#008BB0;}
p.sub a {color:#008BB0;}
p.sub a:hover {text-decoration:underline;}
a#see_all {color:#008BB0;}
div.view_more a {color:#008BB0;}
div.block h3 a {color:#008BB0;}
a.more {color:#008BB0;}

div#superfooter_pages h2 {color: #008BB0}
div#superfooter_pages a{color: #008BB0;}
