a {color:#00B8F3;}

div#left_column div.float_left div.head {background:url('/images/sites/search/head_mask.png') no-repeat 0 0 #00B8F3;}
div#left_column div.float_left div.head h2 {color:white;}
div#left_column div.float_left div.head h1 {text-shadow:0 1px #006E90;}
div#left_column div.float_left div.head p {color:#006E90;}
div#left_column div.float_left div.block a {color:#00B8F3;}
div#left_column div.float_left div.block ul.clusters li a {color:#00B8F3;}
div#left_column div.right ul li h4 a {color:#00B8F3;}
div#left_column div.right ul li p.info a {color:#00B8F3}

div#pages div.float_left div.outer_head div.head {background:url('/images/sites/search/head_mask.png') no-repeat 0 0 #00B8F3;}
div#pages div.float_left div.outer_head div.head p {color:#006E90;}
div#pages div.float_left div.body p a {color:#00B8F3; text-decoration:none;}
div#pages div.float_left div.results_list ul li div.project_name h3 a {color:#00B8F3;}
div#pages div.right div.block p a {color:#00B8F3;}
div#pages div.right div.block ul li a {color:#00B8F3;}

div#project div.left div.block div.logo a {color:#00B8F3;}
div#project div.float_right div.head {background:url('/images/sites/search/head_mask.png') no-repeat 0 0 #00B8F3;}
div#project div.float_right div.head h1 {text-shadow:0 1px #006E90;}
div#project div.float_right div.head p {color:#006E90;}
div#project div.float_right div.head p a {color:#006E90;}
div#project div.float_right div.head p a:hover {color:#00465C;}
div#project div.float_right div.block ul li div.info h4 a {color:#00B8F3;}
div#project div.left div.block ul li a {color:#00B8F3;}
div#project div.left div.block p a {color:#00B8F3;}