a {color:#F5007D;}

div.main_head div.left h1 {text-shadow:0 1px #79003E;}
div.main_head div.left p {color:#79003E;}
div.main_head div.float_head {background:url('/images/sites/search/head_mask.png') repeat 0 0 #F5007D!important;}
div.main_head div.float_head h2 {color:#79003E!important; text-shadow:none;}
div#left_column div.float_left div.head h2 {color:white; text-shadow:0 1px #79003E;}
div#left_column div.float_left div.head {background:url('/images/sites/search/head_mask.png') repeat 0 0 #F5007D!important;}
div#left_column div.float_left div.block a {color:#F5007D;}
div#left_column div.float_left div.block ul.clusters li a {color:#F5007D;}
div#left_column div.right ul li h4 a {color:#F5007D;}
div#left_column div.right ul li p.info a {color:#F5007D}
div#left_column div.right h3 ul.download li a {color: #F5007D;}

div#pages div.float_left div.outer_head div.head {background:url('/images/sites/search/head_mask.png') no-repeat 0 0 #F5007D!important;}
div#pages div.float_left div.outer_head div.head p {color:#79003E;}
div#pages div.float_left div.body p a {color:#F5007D; text-decoration:none;}
div#pages div.float_left div.results_list ul li div.project_name h3 a {color:#F5007D;}
div#pages div.right div.block p a {color:#F5007D;}
div#pages div.right div.block ul li a {color:#F5007D;}

div#project div.left div.block div.logo a {color:#F5007D;}
div#project div.float_right div.head {background:url('/images/sites/search/head_mask.png') no-repeat 0 0 #F5007D!important;}
div#project div.float_right div.head p {color:#79003E;}
div#project div.float_right div.head p a {color:#79003E;}
div#project div.float_right div.head p a:hover {color:#470025;}
div#project div.float_right div.block ul li div.info h4 a {color:#F5007D;}
div#project div.left div.block ul li a {color:#F5007D;}
div#project div.left div.block p a {color:#F5007D;}

div.main_head div.float_head.home h3 {color:#79003E;}
div.main_head div.float_head.home sup.beta {color:#79003E;}
div#pages div.float_left div.outer_head div.head h1 {text-shadow:0 1px #79003E;}
div#pages div.float_left div.outer_head div.head {border-bottom:1px solid #79003E;}
div.main_head.projects div.float_head p a {color:#79003E; text-decoration:underline;}
div.projects div.right div.block p a {color:#F5007D;}
div.projects div.right div.block ul li a {color:#F5007D;}
div.projects div.right div.block div.logo a.long {color:#F5007D;}
div.projects div.float_left div.block ul.related_projects li div.info h4 a {color:#F5007D;}
p.sub a {color:#F5007D;}
p.sub a:hover {text-decoration:underline;}
a#see_all {color:#F5007D;}
div.view_more a {color:#F5007D;}
div.block h3 a {color:#F5007D;}
a.more {color:#F5007D;}
div#pages div.right div.block a.more {background:url('/images/themes/2/down.png') no-repeat right 6px;}

div#superfooter_pages h2 {color: #F5007D}
div#superfooter_pages a{color: #F5007D;}
