a {color:#F1C201;}

div.main_head div.left h1 {text-shadow:0 1px #866C00;}
div.main_head div.left p {color:#866C00;}
div.main_head div.float_head {background:url('/images/sites/search/head_mask.png') repeat 0 0 #F1C201;}
div.main_head div.float_head h2 {color:white; text-shadow:0 1px #866C00;}
div#left_column div.float_left div.head h2 {color:white; text-shadow:0 1px #866C00;}
div#left_column div.float_left div.head {background:url('/images/sites/search/head_mask.png') repeat 0 0 #F1C201;}
div#left_column div.float_left div.block a {color:#F1C201;}
div#left_column div.float_left div.block ul.clusters li a {color:#F1C201;}
div#left_column div.right ul li h4 a {color:#F1C201;}
div#left_column div.right ul li p.info a {color:#F1C201}

div#pages div.float_left div.outer_head div.head {background:url('/images/sites/search/head_mask.png') repeat 0 0 #F1C201;}
div#pages div.float_left div.outer_head div.head p {color:#866C00;}
div#pages div.float_left div.body p a {color:#F1C201; text-decoration:none;}
div#pages div.float_left div.results_list ul li div.project_name h3 a {color:#F1C201;}
div#pages div.right div.block p a {color:#F1C201;}
div#pages div.right div.block ul li a {color:#F1C201;}

div#project div.left div.block div.logo a {color:#F1C201;}
div#project div.float_right div.head {background:url('/images/sites/search/head_mask.png') repeat 0 0 #F1C201;}
div#project div.float_right div.head p {color:#866C00;}
div#project div.float_right div.head p a {color:#866C00;}
div#project div.float_right div.head p a:hover {color:#4D3E00;}
div#project div.float_right div.block ul li div.info h4 a {color:#F1C201;}
div#project div.left div.block ul li a {color:#F1C201;}
div#project div.left div.block p a {color:#F1C201;}