<div class="main_layout">
  <div class="block project_info">
    <div class="top"></div>
    <div class="med">
      <div class="left">
		<h2 class="museo_sans">Create a new project</h2>
        <%= render :partial => 'form' %>
      </div>
      <div class="right menu">
	   <ul>
            <li class="selected"><a>Basic information</a></li>
            <li class="disabled"><a>Media</a></li>
            <li class="disabled"><a>Donors</a></li>
            <li class="disabled"><a>Resources</a></li>
       </ul>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
</div>

<script src="/javascripts/backoffice/application.js" type="text/javascript" charset="utf-8"></script>
