  <div id="layout">
    <div id="pages">
      <div class="left"></div>
      <div class="float_left">
        <div class="outer_head">
          <div class="head">        
            <h1><%= @page.title %></h1>
          </div>
        </div>
        <div class="body">
          <%= @page.body %>
        </div>
      </div>
      <div class="right">
        <div class="block">
          <% unless @page.children.empty? %>
            <h2><%= @page.title %>IN THIS SITE</h2>
            <ul>
              <% @page.children.each do |page| %>
              <li><%= link_to(page.title, page_path(page)) %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
    </div>
    
    <script src="/javascripts/sites/pages.js" type="text/javascript" charset="utf-8"></script>
    