<ul>
  <li><%= link_to_unless_current('Basic information', edit_admin_organization_path(@organization)) %></li>
  <li><a href="#">Donated projects (0)</a></li>
  <li><a href="#">Media (2)</a></li>
  <li><%= link_to_unless_current("Resources (#{@organization.resources.count})", admin_organization_resources_path(@organization)) %></li>
</ul>


<div class="down">
  <h2>Delete this NGO</h2>
  <%= link_to("Delete this NGO", admin_organization_path(@organization), :method => :delete, :confirm => '¿Are you sure?') %>
</div>

