h6 {font:normal 13px "PT Sans Bold"; color:#666666; margin:10px 0 0 0;}
h5 {font:normal 14px "PT Sans Bold"; color:#666666; margin:10px 0 0 0;}
h4 {font:normal 15px "PT Sans Bold"; color:#666666; margin:10px 0 0 0;}
h3 {font:normal 16px "PT Sans Bold"; color:#666666; margin:10px 0 0 0;}
h2 {font:normal 18px "PT Sans Bold"; color:#666666; margin:10px 0 0 0;}
h1 {font:normal 20px "PT Sans Bold"; color:#666666; margin:10px 0 0 0;}
p {font:normal 13px Arial; color:#666666; margin:10px 0 0 0;}
p a {color:#D05F4C; text-decoration:none;}
p a:hover {text-decoration:underline; cursor:pointer;}
ul {width:100%; margin:10px 0 0 0; padding:0 0 6px; list-style:none;}
ul li {padding:3px 0 3px 13px; background:url('/images/sites/icons/list_disc.png') no-repeat 0 10px; font:normal 13px Arial; color:#666666;}