<div class="main_layout organization">
  <div class="block edit first">
    <div class="top"></div>
    <div class="med">
      <div class="left">
        <%= render :partial => 'platform_settings' %>
      </div>
      <div class="right menu">
        <%= render 'sidebar' %>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
</div>

<script src="/javascripts/backoffice/application.js" type="text/javascript" charset="utf-8"></script>

