
  <div class="main_layout">
    
    <div class="block">
      <div class="one">
        <p>1,425</p>
        <label>projects published</label>
        <p class="info"><strong>141 new</strong> this month</p>
      </div>
      <div class="one">
        <p>1,425</p>
        <label>projects published</label>
        <p class="info"><strong>141 new</strong> this month</p>
      </div>
      <div class="one last">
        <p>1,425</p>
        <label>projects published</label>
        <p class="info"><strong>141 new</strong> this month</p>
      </div>
    </div>
    
    <div class="block">
      <div class="top"></div>
      <div class="med dashboard">
        <h2><a href="#">Haiti Aid Map</a></h2>
        <ul>
          <li>
            <label>PROJECTS INCLUDED</label>
            <p>234</p>
          </li>
          <li>
            <label>NGOs COMMITTED</label>
            <p>23</p>
          </li>
          <li>
            <label>VISITS TO THE SITE</label>
            <p>234,890</p>
          </li>
          <li>
            <label>LAST 7 DAYS</label>
            <p>2,324</p>
          </li>
        </ul>
        <div class="info">
          <div class="left">
            <p>Limited to <strong>Haiti country</strong></p>
            <p>Available at <a href="#">www.haitiaidmap.com</a></p>
          </div>
          <div class="right_graph">
            <img src="/images/backoffice/dashboard/graph.jpg" width="590" height="60" alt="Graph">
          </div>
          <p></p>
        </div>
      </div>
      <div class="bottom_grey">
        <a href="#">Manage this site</a>
      </div>
    </div>
    
    <div class="block">
      <div class="top"></div>
      <div class="med dashboard">
        <h2><a href="#">Haiti Aid Map</a></h2>
        <ul>
          <li>
            <label>PROJECTS INCLUDED</label>
            <p>234</p>
          </li>
          <li>
            <label>NGOs COMMITTED</label>
            <p>23</p>
          </li>
          <li>
            <label>VISITS TO THE SITE</label>
            <p>234,890</p>
          </li>
          <li>
            <label>LAST 7 DAYS</label>
            <p>2,324</p>
          </li>
        </ul>
        <div class="info">
          <div class="left">
            <p>Limited to <strong>Haiti country</strong></p>
            <p>Available at <a href="#">www.haitiaidmap.com</a></p>
          </div>
          <div class="right_graph">
            <img src="/images/backoffice/dashboard/graph.jpg" width="590" height="60" alt="Graph">
          </div>
          <p></p>
        </div>
      </div>
      <div class="bottom_grey">
        <a href="#">Manage this site</a>
      </div>
    </div>
    
    <div class="block">
      <div class="top"></div>
      <div class="med dashboard">
        <h2><a href="#">Haiti Aid Map</a></h2>
        <ul>
          <li>
            <label>PROJECTS INCLUDED</label>
            <p>234</p>
          </li>
          <li>
            <label>NGOs COMMITTED</label>
            <p>23</p>
          </li>
          <li>
            <label>VISITS TO THE SITE</label>
            <p>234,890</p>
          </li>
          <li>
            <label>LAST 7 DAYS</label>
            <p>2,324</p>
          </li>
        </ul>
        <div class="info">
          <div class="left">
            <p>Limited to <strong>Haiti country</strong></p>
            <p>Available at <a href="#">www.haitiaidmap.com</a></p>
          </div>
          <div class="right_graph">
            <img src="/images/backoffice/dashboard/graph.jpg" width="590" height="60" alt="Graph">
          </div>
          <p></p>
        </div>
      </div>
      <div class="bottom_grey">
        <a href="#">Manage this site</a>
      </div>
    </div>
    
    <div class="block">
      <div class="top"></div>
      <div class="med dashboard">
        <h2><a href="#">Haiti Aid Map</a></h2>
        <ul>
          <li>
            <label>PROJECTS INCLUDED</label>
            <p>234</p>
          </li>
          <li>
            <label>NGOs COMMITTED</label>
            <p>23</p>
          </li>
          <li>
            <label>VISITS TO THE SITE</label>
            <p>234,890</p>
          </li>
          <li>
            <label>LAST 7 DAYS</label>
            <p>2,324</p>
          </li>
        </ul>
        <div class="info">
          <div class="left">
            <p>Limited to <strong>Haiti country</strong></p>
            <p>Available at <a href="#">www.haitiaidmap.com</a></p>
          </div>
          <div class="right_graph">
            <img src="/images/backoffice/dashboard/graph.jpg" width="590" height="60" alt="Graph">
          </div>
          <p></p>
        </div>
      </div>
      <div class="bottom_grey">
        <a href="#">Manage this site</a>
      </div>
    </div>
    
      
    <div class="add_new">
      <a href="#">Add a new site<br/><strong>You already have 5 sites created</strong></a>
    </div>
  </div>

