<h1>Administration dashboard</h1>

<ul>
  <li><%= link_to('Manage Organizations', admin_organizations_path) %></li>
  <li><%= link_to('Manage Donors', admin_donors_path) %></li>
  <li><%= link_to('Manage Projects', admin_projects_path) %></li>
  <li><%= link_to('Manage Sites', admin_sites_path) %></li>
</ul>