  <div id="pages">
    <div class="left"></div>
    <div class="float_left">
      <div class="outer_head">
        <div class="head">
          <h1>About NGO Aid Maps</h1>
        </div>
      </div>
      <div class="body">
        <p><a href="/">InterAction</a> is developing a web-based mapping platform and database that will ultimately map all of our members’ work worldwide. In 2010, InterAction will pilot the mapping platform with a focus on the NGO community’s response to the earthquake in Haiti, as well as its efforts to improve food security in various countries around the world.</p>
        <p>The mapping platform will be an effective, flexible and sustainable means of capturing information on NGO activities that will:</p>
        <ul>
          <li>Demonstrate NGOs’ commitment to transparency and accountability</li>
          <li>Facilitate partnerships and improve coordination among humanitarian actors</li>
          <li>Help NGOs and other actors make more informed decisions about where to direct resources</li>
          <li>Highlight the global reach of NGOs to donors, the media and public</li>
        </ul>
        <h3>BENEFITS OF PARTICIPATING</h3>
        <p>InterAction members who participate in the mapping initiative will have access to a powerful, user-friendly mapping software, GeoIQ, at no cost. With this tool, members will be able to:</p>
        <ul>
          <li>Create maps and easily share them with others</li>
          <li>Identify potential partners</li>
          <li>Identify underserved areas or areas with greatest needs</li>
          <li>Access more than 20,000 data sets from organizations such as the United Nations or World Bank</li>
          <li>Overlay project information with relevant statistical information, such as child malnutrition rates</li>
          <li>Analyze large amounts of data</li>
        </ul>
      </div>
    </div>
    <div class="right">
      <div class="block">

          <h2>ABOUT</h2>
          <ul>
            <li><a>About NGO Aid Maps</a></li>
            <li><a>About Interaction</a></li>
            <li><a>Partners</a></li>
            <li><a>Donors</a></li>
            <li><a>Highlights</a></li>
            <li><a>Contact us</a></li>
          </ul>
      </div>
  </div>

  <script src="/javascripts/sites/pages.js" type="text/javascript" charset="utf-8"></script>

<script src="/javascripts/sites/home_sites.js" type="text/javascript" charset="utf-8"></script>

<script src="/javascripts/plugins/galleria.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/plugins/galleria.classic.js" type="text/javascript" charset="utf-8"></script>