
  <div id="pages">
    <div class="left">
      <div class="outer_head">
        <div class="head">
          <h1>About the data</h1>
        </div>
      </div>
      <div class="body">
<p>NGO Aid Map includes two primary sets of information:</p>

<ul>
  <li>General information on the organizations</li>
  <li>Information on these organizations' projects in two areas: <a href="http://haiti.ngoaidmap.org">Haiti</a> and <a href="http://foodsecurity.ngoaidmap.org">Food Security and Agriculture</a></li>
</ul>

<p>Organizational information is collected in an “Organizational Profile Form” and project data in an Excel template tailored for each site. InterAction is looking into ways to automate this process to make the data collection process easier and more sustainable.</p>

<p>Organizations are provided with a guidance document to help ensure that the information collected is consistent across organizations.</p>
<p>To learn more about the specific data collected for each site, please visit the <a href="http://foodsecurity.ngoaidmap.org/p/about-the-data">About Data section on Food Security Aid Map</a> and <a href="http://haiti.ngoaidmap.org/p/about-the-data">Haiti Aid Map</a>. </p>
      </div>

    </div>
    <div class="right">
      <div class="block">
        <h2>ABOUT</h2>
        <ul>
          <li class="page"><a href="/about">About NGO Aid Maps</a></li>
          <li class="page"><a href="/about-interaction">About InterAction</a></li>
          <li class="page">About the data</li>
            <li class="page"><a href="/media">NGO Aid Map in the media</a></li>
            <li class="page"><a href="/testimonials">Testimonials</a></li>                        
          <li class="page"><a href="/link-ngo-aid-map">Link to NGO Aid Map</a></li>
          <li class="page"><a href="/make-your-own-map">Make your own map</li>
          <li class="page"><a href="/faq">Frequently asked questions</a></li>
          <li class="page"><a href="/contact">Contact us</a></li>
        </ul>
      </div>
  </div>

  <script src="/javascripts/sites/home_sites.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/plugins/galleria.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/plugins/galleria.classic.js" type="text/javascript" charset="utf-8"></script>