
  <div id="pages">
    <div class="left">
      <div class="outer_head">
        <div class="head">
          <h1>About InterAction</h1>
        </div>
      </div>
      <div class="body">
        <p><a href="http://www.interaction.org">InterAction</a> is the largest alliance of U.S.-based international nongovernmental organizations (NGOs) focused on the world’s poor and most vulnerable people.</p>
        <p>At InterAction, we recognize that our global challenges are interconnected and that we can’t tackle any of them without addressing all of them. That’s why we create a forum for leading NGOs, global thought leaders and policymakers to address our challenges collectively. Leveraging our shared expertise, on-the-ground insights from over 190 member organizations and strategic analyses of the foreign aid budget, we deliver a bold, new agenda to end global poverty and deliver humanitarian aid in every developing country.</p>
        <p>In poor communities throughout the developing world, InterAction members meet people halfway in expanding opportunities and supporting gender equality in education, health care, agriculture, small business and other areas. To forestall or recover from the violence that affects millions of innocent civilians, InterAction exercises leadership in conflict prevention, the peaceful resolution of disputes and peacebuilding initiatives in post-conflict situations.</p>
        <h3>ADDITIONAL INFORMATION</h3>
        <ul>
          <li>To learn more about InterAction and its work, visit <a href="http://www.interaction.org">InterAction’s website</a></li>
          <li><a href="http://www.interaction.org/member-directory-all">Complete list of InterAction members</a></li>
        </ul>
      </div>
    </div>
    <div class="right">
      <div class="block">
        <h2>ABOUT</h2>
        <ul>
          <li class="page"><a href="/about">About NGO Aid Maps</a></li>
          <li class="page">About InterAction</li>
          <li class="page"><a href="/about-data">About the data</li>
            <li class="page"><a href="/media">NGO Aid Map in the media</a></li>
            <li class="page"><a href="/testimonials">Testimonials</a></li>                          
          <li class="page"><a href="/link-ngo-aid-map">Link to NGO Aid Map</a></li>
          <li class="page"><a href="/make-your-own-map">Make your own map</li>
          <li class="page"><a href="/faq">Frequently asked questions</a></li>
          <li class="page"><a href="/contact">Contact us</a></li>
        </ul>
      </div>
  </div>

  <script src="/javascripts/sites/home_sites.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/plugins/galleria.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/plugins/galleria.classic.js" type="text/javascript" charset="utf-8"></script>