  <div id="pages">
    <div class="left">
      <div class="outer_head">
        <div class="head">
          <h1>Contact Us</h1>
        </div>
      </div>
      <div class="body">
        <p>If you have any questions or would like to learn more about NGO Aid Map or any sub-sites, please contact us and a member of InterAction’s mapping team will contact you promptly.</p>
        <ul>
          <li><a href="mailto:mappinginfo@interaction.org">General Information</a>, tel: (202) 552-6572</li>
          <li><a href="mailto:jmontgom@interaction.org">Julie Montgomery</a>, Project Manager</li>
          <li><a href="mailto:lgrino@interaction.org">Laia Grino</a>, Data Manager</li>
          <li><a href="mailto:dheiberg@interaction.org">Danielle Heiberg</a>, Outreach & Communications</li>
          <li><a href="mailto:sramachandran@interaction.org">Sivaram Ramachandran</a>, Data Coordinator</li>
        </ul>
        <p>We welcome your feedback. InterAction would also like to hear from you if:</p>
        <ul>
          <li>Your organization would like to learn more about or participate in our mapping initiative.</li>
          <li>You have thoughts on how to make NGO Aid Map or one of our sub-sites more useful. What questions should these sites help answer? What type of information should we highlight? What other features would you like to see?</li>
        </ul>
        <p>Any other feedback is welcome.</p>
      </div>
    </div>
    <div class="right">
      <div class="block">
        <h2>ABOUT</h2>
        <ul>
          <li class="page"><a href="/about">About NGO Aid Maps</a></li>
          <li class="page"><a href="/about-interaction">About InterAction</a></li>
          <li class="page"><a href="/about-data">About the data</li>
            <li class="page"><a href="/media">NGO Aid Map in the media</a></li>
            <li class="page"><a href="/testimonials">Testimonials</a></li>                          
          <li class="page"><a href="/link-ngo-aid-map">Link to NGO Aid Map</a></li>
          <li class="page"><a href="/make-your-own-map">Make your own map</li>
          <li class="page"><a href="/faq">Frequently asked questions</a></li>
          <li class="page">Contact us</li>
        </ul>
      </div>
  </div>

  <script src="/javascripts/sites/home_sites.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/plugins/galleria.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/plugins/galleria.classic.js" type="text/javascript" charset="utf-8"></script>