
  <div id="pages">
    <div class="left">
      <div class="outer_head">
        <div class="head">
          <h1>Frequently Asked Questions</h1>
        </div>
      </div>
      <div class="body">
        <p class="question" id="firstquestion">What is NGO Aid Map?</p>

        <p>NGO Aid Map is an InterAction initiative that provides detailed information on our members’ work through a web-based mapping platform. The initiative currently focuses on two areas: <a href="http://haiti.ngoaidmap.org">Haiti</a> and <a href="http://foodsecurity.ngoaidmap.org">Food Security and Agriculture</a>.</p>

        <p class="question">What is its purpose?</p>
        <p>By making information on NGO activities easily accessible, NGO Aid Map strives to: </p>
        <ul>
          <li>Increase transparency within the NGO community </li>
          <li>Facilitate partnerships and improve coordination among NGOs, private sector, governments and donors</li>
          <li>Help NGOs and others involved in relief and development make more informed decisions about where to direct their resources</li>
        </ul>

        <p class="question">What information is available on the site?</p>
        <p>NGO Aid Map includes two primary kinds of information:</p>
        <ul>
          <li>General information on the organizations </li>
          <li>Information on these organizations’ projects</li>
        </ul>
        <p>To learn more about the data being collected for the site, please see <a href="/about-data">About the data</a>.</p>

<p class="question">Which organizations are represented on this site?</p>
<p>NGO Aid Map features information on the work of non-governmental organizations (NGOs) working in Haiti or food security & agriculture globally, either directly or indirectly through local or international partners. Most of the organizations represented on the site are InterAction members.</p>

<p class="question">Why do some countries have very few or no projects?</p>
<p>This site only contains information InterAction receives from organizations participating in this initiative. A country may have few or no projects for a couple of reasons. Since this initiative focuses on InterAction members and partners, not all organizations are eligible to participate in this initiative (see “Which organizations are represented on the site?”) and thus not represented on the map. Another reason is that those who are eligible have not yet provided information on their work in that country. We will continue to add information to the site when received by eligible organizations.</p>

<p class="question">How often is the information updated?</p>
<p>The site is updated periodically throughout the year, although organizations may provide updates at any time.</p>

<p class="question">Is the data on the site vetted?</p>
<p>No. InterAction relies on its members and other participating organizations to provide accurate and complete information on their work. While we cannot independently verify the information submitted, InterAction does review the data to check for inconsistencies, codes the data by sector and follows up with organizations as needed to ensure that their information is as complete as possible.</p>

<p class="question">How can organizations participate in the NGO Aid Map?</p>
<p>Due to our limited capacity, InterAction is focusing its data collection on members and their NGO partners at this time. If your organization meets this criterion and would like to submit information for this initiative, please send us an email at <a href="mailto:mappinginfo@interaction.org">mappinginfo@interaction.org</a>.</p>

    </div>
    </div>

    <div class="right">
      <div class="block">
        <h2>ABOUT</h2>
        <ul>
          <li class="page"><a href="/about">About NGO Aid Maps</a></li>
          <li class="page"><a href="/about-interaction">About InterAction</a></li>
          <li class="page"><a href="/about-data">About the data</li>
            <li class="page"><a href="/media">NGO Aid Map in the media</a></li>
            <li class="page"><a href="/testimonials">Testimonials</a></li>                          
          <li class="page"><a href="/link-ngo-aid-map">Link to NGO Aid Map</a></li>
          <li class="page"><a href="/make-your-own-map">Make your own map</li>
          <li class="page">Frequently asked questions</li>
          <li class="page"><a href="/contact">Contact us</a></li>
        </ul>
      </div>
  </div>

  <script src="/javascripts/sites/home_sites.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/plugins/galleria.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/plugins/galleria.classic.js" type="text/javascript" charset="utf-8"></script>