
  <div id="pages">
    <div class="left">
      <div class="outer_head">
        <div class="head">
          <h1>Make your own map</h1>
        </div>
      </div>
      <div class="body">


<h3>Make a Map Using GeoIQ</h3>
<img src="/images/sites/home/logo-geoiq.gif"/>
<p><a href="http://www.geoiq.com">GeoIQ</a> is a geospatial data management, visualization and analysis platform allowing both technical and non-technical users access to a collaborative, browser-based tool. This flexible platform accepts a variety of file types and employs an intuitive file storage system that can be organized by tags for faster, accurate searches and allows users to create a variety of maps with multiple layers for a unique perspective on data.

<h3>What kind of data is available?</h3>
<p>Using GeoIQ, users can also seamlessly access GeoCommons, a public community of GeoIQ users and repository consisting of over 50,000 importable datasets and maps. In addition to the data included in the GeoCommons repository, InterAction’s Enterprise package of GeoIQ includes a selection of shapefiles covering over <a href="#countries_list">70 countries</a>, and <a href="#indicators">national level indicators</a> from credible sources covering a variety of topics and issue areas. New and other relevant datasets will continue to be added in the future.</p>

<h3>Request a License</h3>
<p>InterAction members actively participating (i.e. providing data) in the NGO Aid Map initiative are eligible to receive up to one license at no cost. To request a license, send us an e-mail at <a href="mailto:mappinginfo@interaction.org">mappinginfo@interaction.org</a> with “GeoIQ License Request” in the subject line and the following information:</p>

<ul>
  <li>Primary User Full Name</li>
  <li>Title</li>
  <li>Organization</li>
  <li>E-mail Address</li>
</ul>

<p>Upon receipt of this information, you will receive your log-in credentials via e-mail within 24 hours. If additional information is required, a member of the mapping team will contact you via e-mail. If you are a non-member / non-participating organization, please visit the GeoCommons website at <a href="http://www.geocommons.com">http://www.geocommons.com </a> to access the public version.</p>

<h3>Already Have A License?</h3>
<p><a href="http://ngoquest.org/">Sign into geoIQ</a></p>

<h3>Not an InterAction Member?</h3>
<p><a href="http://www.interaction.org/get-involved">Get involved</a>.</p>

<h3>Trainings Overview</h3>
<p>We offer informal trainings upon request to member organizations and interested staff. Our training will include a general overview of GeoIQ and short tutorials on ways to visualize your data using a selection of datasets and maps.</p>

<p>Topics covered in trainings will include:</p>

<ul>
  <li>Overview of GeoIQ</li>
  <li>Basics of Preparing you Datasets & Acceptable File Types</li>
  <li>Geocoding & Georeferencing</li>
  <li>Creating Reference Maps</li>
  <li>Creating Thematic Maps</li>
  <li>Charts & Graphs</li>
  <li>Sharing & Embedding</li>
</ul>

<h3>Schedule a Training Session</h3>

<p>We are happy to conduct a training session for you and interested staff in your organization. GeoIQ trainings are mostly conducted over webinar. In order to successfully attend a training session, you will need a computer, working internet connection and access to a telephone line. We are also happy to conduct in-person trainings for our members in the Washington, D.C metropolitan area.</p>

<p>Due to limited staff capacity, we encourage you to reach out to us at least 1-2 weeks in advance of your desired date/time for training. To schedule a training session, please send us an e-mail at <a href="mailto:mappinginfo@interaction.org">mappinginfo@interaction.org</a>.</p>

<h3>Feedback</h3>

<p>Your feedback on GeoIQ is very important to our ongoing work and that of the NGO Aid Map initiative. Please share your experiences and ideas for improvement with us at <a href="mailto:mappinginfo@interaction.org">mappinginfo@interaction.org</a>.</p>

<h3>Country 1st Administrative Division Shapefiles</h3>

<div id="countries_list" class="threecols">
<ul>
<li>Afghanistan</li>
<li>Albania</li>
<li>Angola</li>
<li>Armenia</li>
<li>Bangladesh</li>
<li>Belize</li>
<li>Benin</li>
<li>Bolivia</li>
<li>Brazil</li>
<li>Burkina Faso</li>
<li>Burundi</li>
<li>Cambodia</li>
<li>Cameroon</li>
<li>Chad</li>
<li>Chile</li>
<li>China</li>
<li>Colombia</li>
<li>Costa Rica</li>
<li>Democratic Republic of Congo</li>
<li>Dominican Republic</li>
<li>Ecuador</li>
<li>El Salvador</li>
<li>Ethiopia</li>
<li>Ghana</li>
</ul>
<ul>
<li>Guatemala</li>
<li>Guinea-Bissau</li>
<li>Haiti</li>
<li>Honduras</li>
<li>India</li>
<li>Indonesia</li>
<li>Iraq</li>
<li>Jordan</li>
<li>Kenya</li>
<li>Laos</li>
<li>Lebanon</li>
<li>Lesotho</li>
<li>Liberia</li>
<li>Madagascar</li>
<li>Malawi</li>
<li>Mali</li>
<li>Mauritania</li>
<li>Mexico</li>
<li>Mozambique</li>
<li>Myanmar (Burma)</li>
<li>Nepal</li>
<li>Nicaragua</li>
<li>Niger</li>
<li>Nigeria</li>
</ul>
<ul class="last">
<li>Peru</li>
<li>Philippines</li>
<li>Romania</li>
<li>Rwanda</li>
<li>Senegal</li>
<li>Sierra Leone</li>
<li>Solomon Islands</li>
<li>Somalia</li>
<li>South Africa</li>
<li>Sri Lanka</li>
<li>Sudan</li>
<li>Swaziland</li>
<li>Syria</li>
<li>Tanzania</li>
<li>Thailand</li>
<li>Gambia</li>
<li>Uganda</li>
<li>Uruguay</li>
<li>Vanuatu</li>
<li>Vietnam</li>
<li>West Bank and Gaza</li>
<li>Zambia</li>
<li>Zimbabwe</li>
</ul>
</div>

<p>Note: Country shapefiles listed above are based on information obtained from the GADM database of Global Administrative Areas. These boundaries and names do not imply official endorsement or acceptance by InterAction.</p>

<h3>National Indicators</h3>

<div id="indicators" class="threecols">
<ul>
<li>Percentage Agriculture Land</li>
<li>Agricultural Population Density</li>
<li>Proportion of Poor</li>
<li>GEF Benefits Index for Biodiversity</li>
<li>Percentage of Low Birth-weight Infants</li>
<li>Gini Index</li>
</ul>

<ul>
<li>Percent of Women in National Parliaments</li>
<li>Depth of Hunger</li>
<li>Access to Improved Sanitation Services</li>
<li>Life Expectancy</li>
<li>Commercial Bank Accounts</li>
<li>Livestock Production Index</li>
</ul>
<ul class="last">
<li>Multi-dimensional Poverty Index</li>
<li>Agriculture Value Added (% of GDP)</li>
<li>Total Population</li>
<li>Female Economically Active Population in Agriculture</li>
<li>Arable Land</li>
</ul>

</div>

    </div>
    </div>

    <div class="right">
      <div class="block">
        <h2>ABOUT</h2>
        <ul>
          <li class="page"><a href="/about">About NGO Aid Maps</a></li>
          <li class="page"><a href="/about-interaction">About InterAction</a></li>
          <li class="page"><a href="/about-data">About the data</li>
            <li class="page"><a href="/media">NGO Aid Map in the media</a></li>
            <li class="page"><a href="/testimonials">Testimonials</a></li>                          
          <li class="page"><a href="/link-ngo-aid-map">Link to NGO Aid Map</a></li>
          <li class="page">Make your own map</li>
          <li class="page"><a href="/faq">Frequently asked questions</a></li>
          <li class="page"><a href="/contact">Contact us</a></li>
        </ul>
      </div>
  </div>

  <script src="/javascripts/sites/home_sites.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/plugins/galleria.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/plugins/galleria.classic.js" type="text/javascript" charset="utf-8"></script>