  <div id="pages">
    <div class="left" id="relative_content">
      <div class="outer_head">
        <div class="head">
          <h1>NGO Aid Map in the media</h1>
        </div>
      </div>
      <div class="body">
        <p>
<ul>
  <li>
    <a href="http://blog.interaction.org/node/201">Bridging Gaps Between Information Islands</a><br/>
    AidBuzz, August 2011
</li>
<li>  
  <a href="http://www.trust.org/alertnet/blogs/technotalk/dare-we-say-information-is-beautiful/">Dare We Say Information is Beautiful</a><br/>
AlertNet, August 2011
</li>
<li>  
  <a href="http://www.devex.com/en/blogs/full-disclosure/interaction-s-new-ngo-aid-map">InterAction’s New NGO Aid Map</a><br/>
Devex, May 2011
</li>
<li>  
  <a href="http://www.hunger-undernutrition.org/blog/2011/04/ngos-map-food-projects-as-budgets-tighten-.html">NGOs Map Food Projects as Budgets Tighten</a><br/>
The Hunger and Undernutrition Blog, April 2011
</li>
<li>  
  <a href="http://www.trust.org/alertnet/blogs/technotalk/mapping-ngo-food-projects-amid-rocketing-prices/">Mapping NGO Food Projects Amid Rocketing Prices</a><br/>
Alertnet, March 2001
</li>
<li>  
  <a href="http://blog.interaction.org/node/32">The Assumptions Behind Haiti Aid Map</a><br/>
AidBuzz, February 2011
</li>
<li>  
  <a href="http://www.publishwhatyoufund.org/news/2011/01/haitiaidmap-demonstrates-potential-aid-information/">Haiti Aid Map Demonstrates Potential of Aid Information</a><br/>
Publish What You Fund, January 2011
</li>
<li>  
  <a href="http://www.globalhealthmagazine.com/guest_blog/haiti_who_what/">Haiti: Who is Doing What Where</a><br/>
Global Health Magazine, January 2011
</li>
<li>  
  <a href="http://reliefweb.int/node/380291">New Haiti Aid Map Shows Progress of Recovery and Gaps at the One-Year Mark</a><br/>
Relief Web, January 2011
</li>
<li>  
  <a href="http://www.aidinfo.org/this-is-how-aid-transparency-could-look.html">This is How Aid Transparency Could Look!</a><br/>
Aid info, January 2011
</li>
<li>  
  <a href="http://www.oregonlive.com/business/index.ssf/2010/09/mercy_corps_teams_up_with_bank.html">Mercy Corps Teams Up With Bank, Telecom in New Haiti Program</a><br/>
The Oregonian, September 2010
</li>
<li>  
  <a href="http://haitirewired.wired.com/profiles/blogs/haiti-mapping-initiative-to">Haiti Mapping Initiative to Bring Accountability in Recovery</a><br/>
Haiti Rewired, July 2010
</li>
<li>  
  <a href="http://blog.tonic.com/the-next-big-thing-mapping-recovery-projects-in-haiti-and-beyond/">The Next Big Thing: Mapping Recovery Projects in Haiti and Beyond</a><br/>
Tonic Blog, July 2010
</li>
</ul>  
        </p>

      </div>
    </div>
    <div class="right">
      <div class="block">
          <h2>ABOUT</h2>
          <ul>
            <li class="page"><a href="/about">About NGO Aid Map</a></li>
            <li class="page"><a href="/about-interaction">About InterAction</a></li>
            <li class="page"><a href="/about-data">About the data</li>
            <li class="page">NGO Aid Map in the media</li>
            <li class="page"><a href="/testimonials">Testimonials</a></li>
            <li class="page"><a href="/link-ngo-aid-map">Link to NGO Aid Map</a></li>
            <li class="page"><a href="/make-your-own-map">Make your own map</li>
            <li class="page"><a href="/faq">Frequently asked questions</a></li>
            <li class="page"><a href="/contact">Contact us</a></li>
          </ul>
      </div>
  </div>