  <div id="pages">
    <div class="left" id="relative_content">
      <div class="outer_head">
        <div class="head">
          <h1>Testimonials</h1>
        </div>
      </div>
      <div class="body">
        <p>
<p>Read what others have to say about NGO Aid Map:</p>

<h3>FOOD SECURITY AID MAP</h3>

<p>“It is a great tool to understand what the donor landscape is and where INGOs are concentrating their efforts. It allows a better understanding on where there are overlaps and who the organizations should be coordinating their work with.” - <em>Anonymous online user</em></p>

<p>“The depth of the information being displayed will set the bar high for other organizations that are not members of InterAction to supply similar information.” - <em>Anonymous online user</em></p>

<h3>HAITI AID MAP</h3>

<p>“The website looks awesome.  It will be a good tool for us in the field to know who else is involved in communities around Haiti.  Good job and I hope this kind of design is done in other areas of the world.” - <em>Aaron Tate, Church World Service</em></p>

<p>“Congratulations on this great project that will be of great help.” - <em>Ted Kaplan, MD, Cap Haitien Health Network</em></p>

<p>“We have referred both Agency and NGO clients to use the Aid map as they were reviewing their location options.  We have worked with the map on several occasions if briefing our colleagues, advisors, clients and stakeholders.   I think the Aid Map will prove to be an invaluable tool and template for reporting and illustrating all manners of data that concern funders, agencies and governments.” - <em>John Keller, President, Proteus On-Demand Facilities</em></p>

<p>“Haiti Aid Map shows the scope of each agency's humanitarian work on the ground, which makes it a valuable tool for transparency and accountability.” - <em>Michael Delaney, Director of Humanitarian Response, Oxfam America</em></p>

<p>“I've recently come across your Haiti Aid Map and was really impressed with the collection and presentation of data. My organization, the St. Boniface Haiti Foundation, has actually used the map to look up partners and potential partners and get a visual on the lay of the land. It's extremely helpful.” - <em>Alysia Mueller, Communications Officer, St. Boniface Haiti Foundation</em></p>

<p>“I loved navigating through the site -the data is neatly presented and quite useful in making anyone feel more confident on what is going on in Haiti as well as hopefully help with coordination and partnerships on the ground.” - <em>Holta Trandafili, Design, Monitoring & Evaluation Specialist, World Vision</em></p>

<p>“Haiti Aid Map is a tool for learning and information sharing.” - <em>Anonymous online user</em></p>

<p>“Haiti Aid Map helps us better promote our work and the work of others to better coordinate.” - <em>Anonymous online user</em></p>

<p>“Excellent work. This should be more widely publicized or at least as widely publicized as any Ushahidi platform is so that the world does not only see need, need, need but supply along with it (and I don't mean adding a layer on top of a Ushahidi deployment). How about collaborating with all the clusters and creating this in every response in the world big or small?” - <em>Anonymous user</em></p>

<p>“Haiti Aid Map helps us streamline multiple requests for data on our projects. We refer these inquiries to the InterAction map.” - <em>Anonymous online user</em></p>


          
          
          
          
        </p>

      </div>
    </div>
    <div class="right">
      <div class="block">
          <h2>ABOUT</h2>
          <ul>
            <li class="page"><a href="/about">About NGO Aid Map</a></li>
            <li class="page"><a href="/about-interaction">About InterAction</a></li>
            <li class="page"><a href="/about-data">About the data</a></li>
            <li class="page"><a href="/media">NGO Aid Map in the media</a></li>
            <li class="page">Testimonials</li>
            <li class="page"><a href="/link-ngo-aid-map">Link to NGO Aid Map</a></li>
            <li class="page"><a href="/make-your-own-map">Make your own map</li>
            <li class="page"><a href="/faq">Frequently asked questions</a></li>
            <li class="page"><a href="/contact">Contact us</a></li>
          </ul>
      </div>
  </div>