<div class="alert">
  <h4>There are <%= @synchronization.projects_errors_count %> <%= pluralize(@synchronization.projects_errors_count, 'problem', 'problems') %> with the selected file</h4>

  <ul id="errors">
    <% @synchronization.projects_errors.each do |error| %>
      <li>
        <%= error %>
      </li>
    <% end %>
  </ul>

  <p>If you delete this donor, it will not appear in any site.</p>
  <span><a class="cancel">cancel</a><a href="#" class="button remove">delete</a></span>
</div>
