<!DOCTYPE html>
<html>
<head>
  <!-- TODO: GET ORIGIN PATH-->
  <title>NGO AID MAP</title>
  <%=raw(javascript_include_merged(:root_layout)) %>
  <%=raw(stylesheet_link_merged(:base)) %>
  <link rel="shortcut icon" href="/images/favicon.ico"/>
</head>
<body>

  <div id="layout">
    <div id="header_sites">
      <div class="left">
        <h1>NGO AID MAP <span class="beta">BETA</span></h1><h2>An <b>InterAction</b> initiative</h2>
      </div>
      <div class="right">
        <ul class="menu">
          <li>
            <a href="/">HOME</a>
          </li>
          <li>
            <a href="/about">ABOUT</a>
          </li>
          <li class="last">
            <a href="/contact">CONTACT US</a>
          </li>
        </ul>
      </div>
    </div>

  <div id="outer_layout">
    <%= yield %> <!-- Main layout has to content <div id="layout"> -->

      <div id="footer_sites">
        <div class="left_footer">
          <a class="logo" href="/"></a>
          <div class="project">

            <!-- TODO: GET ORIGIN SITE NAME-->
            <h1>NGO AID MAP</h1>
            <p class="all_rights">A project by Interaction. Copyrighted by InterAction ©2006-2011. All rights reserved.</p>
          </div>

        </div>
      </div>
    </div>
  </div>
  <%=yield :js %>
</body>

<% if Rails.env.production? %>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-20618946-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
<% end %>
</html>