<!DOCTYPE html>
<html>
<head>
  
  <!-- TODO: GET ORIGIN PATH-->
  <title>NGO AID MAP</title>
 
  <%= javascript_include_tag 'jquery.min', 'jquery.ui.core', 'jquery.ui.widget', 'jquery.ui.position'%>

  <%= stylesheet_link_tag '/stylesheets/sites/layout.css' %>

  <link rel="shortcut icon" href="/images/favicon.ico"/>    
</head>
<body>


  <div id="outer_layout">
    
    <%= yield %> <!-- Main layout has to content <div id="layout"> -->
      
      <div id="footer_sites">
        <div class="left">
          <a class="logo"></a>
          <div class="project">

            <!-- TODO: GET ORIGIN SITE NAME-->
            <h1>NGO AID MAP</h1>
            <p class="all_rights">A project by Interaction 2010. Copyrighted by InterAction ©2006-2012. All rigths reserved.</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <%=yield :js %>
</body>
</html>