
  <div class="main_layout">
    <div class="block first  <%= (action_name == 'edit' ? 'site_info' : 'edit') %>">
      <div class="top"></div>
      <div class="med">
        <div class="left">
          <h2 class="museo_sans"><%= @site.name %></h2>
          <%= edit_or_customize_site %>
        </div>
        <div class="right menu">
          <%= render 'admin/sites/sidebar' %>
        </div>
      </div>
      <div class="bottom"></div>
    </div>
  </div>
  <script src="/javascripts/backoffice/site.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/backoffice/application.js" type="text/javascript" charset="utf-8"></script>
