
  <div class="main_layout">
    <%= render :partial => 'admin/sites/site', :collection => @sites %>
    <div class="add_new">
      <a class="museo_sans" href="<%= new_admin_site_path %>">Create a new site<br/><strong>You already have <%= pluralize(Site.count, 'site', 'sites') %> created</strong></a>
    </div>
  </div>

  <%= will_paginate(@sites) %>