<div class="main_layout">
  <div class="block site_info">
	<div class="steps_create_project">
		<span class="top"></span>
		<div class="middle">
			<h1 class="museo_sans">You are creating a new site...</h1>
			<ul class="steps">
				<li>
					<span class="circle museo_sans">1</span>
					<label class="museo_sans">ENTER THE BASIC INFORMATION</label>
					<p>Fill the projects basic data. Remember that is important to describe it good.</p>
				</li>
				<li>
					<span class="circle museo_sans">2</span>
					<label class="museo_sans">CUSTOMIZE YOUR SITE</label>
					<p>Change the naming and the appearance of your site to make it better.</p>
				</li>				
				<li>
					<span class="circle museo_sans">3</span>
					<label class="museo_sans">THAT'S IT</label>
					<p>The site should be available at the URL that you've previously introduced.</p>
				</li>				
				
			</ul>
		</div>
		<span class="bottom"></span>
	</div>
	
    <div class="top"></div>
    <div class="med">
      <div class="left">
		<h2 class="museo_sans">Create a new site</h2>
        <%= render :partial => 'form' %>
      </div>
      <div class="right menu">
	   <ul>
            <li class="selected"><a>Basic information</a></li>
            <li class="disabled"><a>Media</a></li>
            <li class="disabled"><a>Donors</a></li>
            <li class="disabled"><a>Resources</a></li>
       </ul>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
</div>

<script src="/javascripts/backoffice/site.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/backoffice/application.js" type="text/javascript" charset="utf-8"></script>
