<h2>New site</h2>

<div>
  <h3>You are creating a new site...</h3>
  <dl>
    <dt>1 - Enter the basic information</dt>
    <dd>Fill the projects...</dd>
    <dt>2 - Customize your site</dt>
    <dd>Change the naming...</dd>
    <dt>3 - That's it</dt>
    <dd>The site should be available</dd>
  </dl>
</div>

<%= render :partial => 'form' %>