  <div class="main_layout">
    <div class="block first edit">
      <div class="top"></div>
      <div class="med">
        <div class="left">
          <h2 class="museo_sans"><%= @donor.name.html_safe %></h2>
          <%= render :partial => 'form' %>
        </div>
        <div class="right menu">
          <%= render 'admin/donors/sidebar' %>
        </div>
      </div>
      <div class="bottom"></div>
    </div>
  </div>

  <script src="/javascripts/backoffice/application.js" type="text/javascript" charset="utf-8"></script>