


  <div class="main_layout">
    <div class="block donor_funded">
      <div class="top"></div>
      <div class="med">
        <div class="left">
          <h2>John Williamson Foundation</h2>
          <p>4 funded projects</p>
          <ul>
            <li>
              <span class="first">
                <h3><a href="#">Food security at Atalahupa</a></h3>
                <p class="closed">Closed</p>
              </span>
              <p>$12,000</p>
            </li>
            <li>
              <span class="first">
                <h3><a href="#">Food security at Atalahupa</a></h3>
                <p class="active">Active</p>
              </span>
              <p>$12,000</p>
            </li>
            <li>
              <span class="first">
                <h3><a href="#">Food security at Atalahupa</a></h3>
                <p class="closed">Closed</p>
              </span>
              <p>$12,000</p>
            </li>
            <li>
              <span class="first">
                <h3><a href="#">Food security at Atalahupa</a></h3>
                <p class="active">Active</p>
              </span>
              <p>$12,000</p>
            </li>
            <li>
              <span class="first">
                <h3><a href="#">Food security at Atalahupa</a></h3>
                <p class="closed">Closed</p>
              </span>
              <p>$12,000</p>
            </li>
            <li>
              <span class="first">
                <h3><a href="#">Food security at Atalahupa</a></h3>
                <p class="active">Active</p>
              </span>
              <p>$12,000</p>
            </li>
            <li>
              <span class="first">
                <h3><a href="#">Food security at Atalahupa</a></h3>
                <p class="closed">Closed</p>
              </span>
              <p>$12,000</p>
            </li>
            <li class="last">
              <span class="first">
                <h3><a href="#">Food security at Atalahupa</a></h3>
                <p class="active">Active</p>
              </span>
              <p>$12,000</p>
            </li>
          </ul>
        </div>
        <div class="right menu">
          <ul>
            <li><a href="#">Basic information</a></li>
            <li class="selected"><a href="#">Funded projects</a><p><span>4</span></p></li>
            <li><a href="#">Media</a><p><span>4</span></p></li>
            <li><a href="#">Resources</a><p><span>4</span></p></li>
          </ul>
          <div class="delete">
            <h5>DELETE THIS DONOR</h5>
            <p>Clicking the link below will permanently delete this donor and its references within the sites</p>
            <a href="#">Delete this donor</a>
          </div>
        </div>
      </div>
      <div class="bottom"></div>
    </div>
  </div>
  
  <script src="/javascripts/backoffice/application.js" type="text/javascript" charset="utf-8"></script>
  


<!-- <div class="main">

  <h2>Edit donor <%= @donor.name %></h2>

  <%= render :partial => 'form' %>

</div>

<div class="sidebar">
  <%= render 'sidebar' %>
</div> -->