
  <div class="main_layout">
    <div class="block first edit">
      <div class="top"></div>
      <div class="med">
        <div class="left">
          <h2 class="museo_sans">New donor</h2>
          <%= render :partial => 'form' %>
        </div>
        <div class="right menu">
          <ul>
            <li class="selected"><a>Basic information</a></li>
            <li class="disabled"><a>Funded projects</a></li>
            <li class="disabled"><a>Media</a></li>
            <li class="disabled"><a>Resources</a></li>
            <!--<li class="disabled"><a>Offices</a></li>-->
          </ul>
        </div>
      </div>
      <div class="bottom"></div>
    </div>
  </div>
