<div class="main_layout">
  <div class="block edit first">
    <div class="top"></div>
    <div class="med">
      <div class="left">
        <h2 class="museo_sans"><%= @donor.name.html_safe %> in <%= @site.name %></h2>
        <%= render :partial => 'specific_form' %>
      </div>
      <div class="right menu">
        <%= render 'sidebar' %>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
</div>
